*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #4b5563;
  color: #fff;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

.navbar-custom-css {
  background-color: #334155;
  z-index: 2;
}

.v-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.video-container {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 5;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}

.header-overlay {
  min-height: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-content {
  z-index: 2;
}

.header-content h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

.header-content p {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 2rem;
}

.mercedes-history-container {
  max-width: 58rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.section {
  padding: 1.3rem 0;
}

.car {
  padding: 0.8rem;
}

.section-b {
  background: #434343;
  color: #fff;
  padding: 1.2rem;
  margin-top: 3rem;
}



.description {
  font-size: 0.8rem;
}

.icons {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  flex-wrap: wrap;
  gap: 3.5rem;
}

footer {
  background-color: #334155;
}
